<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Java Rice</title>
</head>
<body>

	<!-- <button onclick="DisplayName(5,6)">Click me to add</button> -->

	
	<form>
		<label for="num1">Number 1:</label>
		<input type="number" id="num1" name="num1" required>
		<br>
		<br>
		<label for="num2">Number 2:</label>
		<input type="number" id="num2" name="num2" required>
		<br>
		<br>
		<select id="operator" onchange="calculateSum()">
			<option value="+">Add</option>
			<option value="-">Minus</option>
			<option value="*">Multiply</option>
			<option value="/">Divide</option>
		</select>
		<br>
		<br>
		<!-- <button type="button" onclick="calculateSum()">Calculate</button> -->
	</form>
	<p id="num1Display"></p>
	<p id="num2Display"></p>
	<h1 style="font-weight: bold;" id="result"></h1>
	
	<!-- <p id="result">Result: <span id="result-value"></span></p> -->


	
	<!-- <p id="demo1"></p>
	<p id="demo2"></p>
	<p id="demo3"></p>

	<script>

		let x = 2;

		if (x==2) {
			document.getElementById("demo1").innerHTML = x;
			var y = 1;
			document.getElementById("demo2").innerHTML = y;
		}
			document.getElementById("demo3").innerHTML = y;

	</script> -->

	<!-- <script> -->
		<!-- // const x = 5;
		if(x==5){
		const y = 6;
		document.getElementById("demo").innerHTML = x;
		}
		const students = {
		id: "189",
		lastname: "Timbal",
		firstname: "Dionar"
		};
		console.log(students.id);
		console.log(students.lastname); -->
		
	<!-- </script> -->


	 <script>
		document.getElementById('num1').addEventListener('input',function(){
			document.getElementById('num1Display').textContent = "Num 1: " + this.value 
		})
		document.getElementById('num2').addEventListener('input',function(){
			document.getElementById('num2Display').textContent = "Num 2: " + this.value
		})

		
		function calculateSum(){
			const num1 = parseFloat(document.getElementById('num1').value);
			const num2 = parseFloat(document.getElementById('num2').value);

			// alert(num1 + num2);
			// document.getElementById('result-value').innerHTML = num1 + num2;

			var operator = document.getElementById("operator").value;
			var result;
			if (operator == "+") {
				result = num1 + num2;
		}else if(operator == "-"){
			result = num1 - num2;
		}else if(operator ==  "*"){
			result = num1 * num2;
		}else if(operator == "/"){
			result = num1 / num2;
		}else if(num2 == 0){
			result  = "Cannot  divide by zero";
		}else{
			result = num1 / num2;
		}
		if(isNaN(result)){
			result = "No input";
		}
		document.getElementById('result').innerHTML = result;

	}


		// Array object:
		// const cars = ["saab","volvol","honda"];
		// console.log(cars[0]);

        // Date object:
		// const date = new Date("2022-10-6");
		// console.log(date);

		// function DisplayName(){
		// 	var name = "John Doe";
		// 	var age = "18"
		// 	return [name, age];

		// }
		// console.log(DisplayName())

		// function DisplayName(a,b){
		// 	alert (a + b);
		// }
		// console.log(DisplayName(5,6))


	 </script>

</body>
</html>